
.banner{
    width: 100%;
    height: 300px;
    background-color: goldenrod;
    text-align: center;
}

.myGrid3 {
    background-color: coral;
    padding: 20px;
    margin-top: 20px;
    min-height: 500px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .myGrid3 div {
    background-color: aliceblue;
    padding: 20px;
    width: 300px;
    height: 400px;
    display: grid;
    align-content: center;
    justify-content: center;
  }
  
  .myGrid3 div:nth-child(even){
    justify-self: end;
    grid-column: 1;
    
  }
  
  .myGrid3 div:nth-child(odd){
    justify-self: start;
    grid-column: 2;
  }